.carousel-inner > .item > img {
    max-width: 10%;
    max-height: 10vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .form-container {
   
    padding: 20px;
    margin: 20px;
    /* background-color: #ffc107; */
  }

  .card-img-top {
    width: 250px;
    height: 300px;
    object-fit: cover;
  }

  .card {
    margin: 5px;
  }

  button{
    margin: 2px;
    padding-left: 15px;
    padding-right: 15px;
  }