    <div class="row">
        <app-carousel></app-carousel>
    </div>
    <div class="row m-2">
        <div class="col-5"></div>
        <div class="col">
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</button>
        </div>
        <div class="col">
            <button class="btn btn-warning">Sign In </button>
        </div>
        <div class="col-5"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-2  mb-3 mx-3" *ngFor="let card of userInformationList">
                        <div class="container mx-auto mt-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card" style="width: 18rem;">
                                        <img src={{card.profilephotolink}} crossorigin="anonymous" class="card-img-top img-thumbnail"
                                            alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{card.Name}} ({{card.age}})</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{card.profession1}} ,
                                                {{card.profession2}}</h6>
                                            <p class="card-text">{{card.nationality}} <br>
                                                {{card.height}} Feet, {{card.weight}} kg</p>
                                            <p class="card-text">{{card.bio}}</p>
                                            <a href={{card.instaprofile}} class="btn mr-2"><i class="fas fa-link"></i>Go
                                                to Instagram Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="color: #ffc107; background-color: rgb(44, 40, 40);">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Entertainer's Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-container">
                    <form [formGroup]="personForm" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="name" class="form-label">Name:</label>
                                    <input type="text" id="name" class="form-control" formControlName="name" required>
                                    <div class="invalid-feedback">Please enter a valid name.</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name" class="form-label">Email:</label>
                                    <input type="text" id="name" class="form-control" formControlName="email" required>
                                    <div class="invalid-feedback">Please enter a valid Email.</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="name" class="form-label">Password :</label>
                                    <input type="password" id="name" class="form-control" formControlName="password"
                                        required>
                                    <div class="invalid-feedback">Please enter a Password</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="gender" class="form-label">Gender:</label>
                                        <select id="gender" class="form-select" formControlName="gender" required>
                                            <option value="">Gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                        <div class="invalid-feedback">Please select a gender.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="height" class="form-label">Height:</label>
                                    <input type="text" id="height" class="form-control" formControlName="height"
                                        required>
                                    <div class="invalid-feedback">Please enter a valid height.</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="weight" class="form-label">Weight:</label>
                                    <input type="text" id="weight" class="form-control" formControlName="weight"
                                        required>
                                    <div class="invalid-feedback">Please enter a valid weight.</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="age" class="form-label">Age:</label>
                                    <input type="number" id="age" class="form-control" formControlName="age" required>
                                    <div class="invalid-feedback">Please enter a valid age.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bio" class="form-label">Bio:</label>
                            <textarea id="bio" class="form-control" formControlName="bio" required></textarea>
                            <div class="invalid-feedback">Please enter a valid bio.</div>
                        </div>

                        <div class="form-group">
                            <label for="nationality" class="form-label">Nationality:</label>
                            <input type="text" id="nationality" class="form-control" formControlName="nationality"
                                required>
                            <div class="invalid-feedback">Please enter a valid nationality.</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="image" class="form-label">Instagram Profile URL:</label>
                                    <input type="text" id="image" class="form-control" formControlName="image" required>
                                    <div class="invalid-feedback">Please enter a valid image URL.</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="image" class="form-label">Profile Photo URL:</label>
                                    <input type="text" id="image" class="form-control"
                                        formControlName="profilephotolink" required>
                                    <div class="invalid-feedback">Please enter a valid image URL.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="I am a" class="form-label">I am a :</label>
                                    <ng-select style="background-color:white; color:black" [items]="profession"
                                        formControlName="profession1"></ng-select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="and " class="form-label">And :</label>
                                    <ng-select style="background-color:white; color:red" [items]="profession"
                                        formControlName="profession2"></ng-select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" (click)="onSubmit()">Register Now</button>
            </div>
        </div>
    </div>
</div>
